nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    a.navbar-brand(href='/') Oogie Boogie Bot
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current='page', href='/support')
            i.i.fab.fa-discord
            |                             Bot Server

        li.nav-item
          a.nav-link.active(aria-current='page', href='/commands')
            i.fas.fa-code
            |                             Commands

        li.nav-item
          a.nav-link.active(aria-current='page', href='/github')
            i.fab.fa-github
            |                             Github

        